.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.picture {
  position: absolute;
  width: 800px;
  height: 600px;
  overflow: hidden; }
  .picture *, .picture *:before, .picture *:after {
    content: '';
    position: absolute; }

.forest__ghost {
  top: 180px;
  left: 180px;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background: #1C596C;
  animation: forestGhost 30s linear infinite; }
  .forest__ghost:after {
    top: 10px;
    left: 5px;
    width: 5px;
    height: 6px;
    border-radius: 50% 30% 40% 50%;
    background: #273449;
    box-shadow: 10px 0 0 0 #273449; }
  .forest__ghost div:before {
    top: 6px;
    left: 0px;
    width: 14px;
    height: 42px;
    border-radius: 10px;
    background: #1C596C;
    transform-origin: 7px 7px;
    transform: rotate(0deg);
    animation: forestGhostLeg 30s linear infinite; }
  .forest__ghost div:after {
    top: 6px;
    left: 10px;
    width: 14px;
    height: 37px;
    border-radius: 10px;
    background: #1C596C;
    transform-origin: 7px 7px;
    transform: rotate(0deg);
    animation: forestGhostLeg 30s linear infinite; }

/* ANIMATION */
@keyframes forestGhost {
  0.0% {
    transform: translate(-4px, -7px); }
  1.5% {
    transform: translate(-1px, -15px); }
  3.0% {
    transform: translate(1px, -20px); }
  4.5% {
    transform: translate(-3px, -18px); }
  6.0% {
    transform: translate(-7px, -11px); }
  7.5% {
    transform: translate(-2px, -8px); }
  9.0% {
    transform: translate(38px, 34px); }
  10.5% {
    transform: translate(40px, 34px); }
  12.0% {
    transform: translate(32px, 29px); }
  13.5% {
    transform: translate(26px, 20px); }
  15.0% {
    transform: translate(20px, 8px); }
  16.5% {
    transform: translate(6px, -5px); }
  18.0% {
    transform: translate(0px, -14px); }
  19.5% {
    transform: translate(-1px, -19px); }
  21.0% {
    transform: translate(-4px, -20px); }
  22.6% {
    transform: translate(-6px, -19px); }
  24.0% {
    transform: translate(-2px, -15px); }
  25.5% {
    transform: translate(1px, -9px); }
  27.0% {
    transform: translate(-1px, -5px); }
  28.5% {
    transform: translate(-4px, -3px); }
  30.0% {
    transform: translate(-1px, -3px); }
  31.5% {
    transform: translate(1px, -8px); }
  33.0% {
    transform: translate(-6px, -14px); }
  34.5% {
    transform: translate(-5px, -18px); }
  36.0% {
    transform: translate(-1px, -18px); }
  37.5% {
    transform: translate(-2px, -13px); }
  39.0% {
    transform: translate(-5px, -5px); }
  40.5% {
    transform: translate(-4px, 2px); }
  42.0% {
    transform: translate(0px, 5px); }
  43.5% {
    transform: translate(0px, 3px); }
  45.0% {
    transform: translate(-4px, -1px); }
  46.5% {
    transform: translate(-2px, -5px); }
  48.0% {
    transform: translate(15px, -3px); }
  49.5% {
    transform: translate(56px, -1px); }
  51.0% {
    transform: translate(50px, 0px); }
  52.5% {
    transform: translate(41px, -2px); }
  54.0% {
    transform: translate(34px, -3px); }
  55.5% {
    transform: translate(32px, -3px); }
  57.0% {
    transform: translate(27px, -4px); }
  58.5% {
    transform: translate(12px, -6px); }
  60.0% {
    transform: translate(1px, -7px); }
  61.5% {
    transform: translate(3px, -7px); }
  63.0% {
    transform: translate(5px, -8px); }
  64.5% {
    transform: translate(0px, -9px); }
  66.0% {
    transform: translate(-1px, -10px); }
  67.5% {
    transform: translate(2px, -10px); }
  69.0% {
    transform: translate(3px, -9px); }
  70.5% {
    transform: translate(-1px, -3px); }
  72.0% {
    transform: translate(-1px, 2px); }
  73.5% {
    transform: translate(3px, 3px); }
  75.0% {
    transform: translate(2px, 0px); }
  76.5% {
    transform: translate(-2px, -3px); }
  78.0% {
    transform: translate(31px, 13px); }
  79.5% {
    transform: translate(52px, 27px); }
  81.0% {
    transform: translate(54px, 22px); }
  82.5% {
    transform: translate(42px, 17px); }
  84.0% {
    transform: translate(33px, 9px); }
  85.5% {
    transform: translate(25px, 2px); }
  87.0% {
    transform: translate(9px, -6px); }
  88.5% {
    transform: translate(0px, -10px); }
  90.0% {
    transform: translate(1px, -15px); }
  91.5% {
    transform: translate(-2px, -15px); }
  93.0% {
    transform: translate(-5px, -11px); }
  94.5% {
    transform: translate(-3px, -5px); }
  96.0% {
    transform: translate(0px, -1px); }
  97.5% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes forestGhostLeg {
  0.0% {
    transform: rotate(-5deg); }
  1.5% {
    transform: rotate(7deg); }
  3.0% {
    transform: rotate(1deg); }
  4.5% {
    transform: rotate(-6deg); }
  6.0% {
    transform: rotate(-6deg); }
  7.5% {
    transform: rotate(7deg); }
  9.0% {
    transform: rotate(15deg); }
  10.5% {
    transform: rotate(-3deg); }
  12.0% {
    transform: rotate(-13deg); }
  13.5% {
    transform: rotate(2deg); }
  15.0% {
    transform: rotate(6deg); }
  16.5% {
    transform: rotate(-9deg); }
  18.0% {
    transform: rotate(1deg); }
  19.5% {
    transform: rotate(5deg); }
  21.0% {
    transform: rotate(-7deg); }
  22.6% {
    transform: rotate(-3deg); }
  24.0% {
    transform: rotate(8deg); }
  25.5% {
    transform: rotate(5deg); }
  27.0% {
    transform: rotate(-3deg); }
  28.5% {
    transform: rotate(-8deg); }
  30.0% {
    transform: rotate(7deg); }
  31.5% {
    transform: rotate(3deg); }
  33.0% {
    transform: rotate(-8deg); }
  34.5% {
    transform: rotate(3deg); }
  36.0% {
    transform: rotate(9deg); }
  37.5% {
    transform: rotate(-2deg); }
  39.0% {
    transform: rotate(-11deg); }
  40.5% {
    transform: rotate(0deg); }
  42.0% {
    transform: rotate(9deg); }
  43.5% {
    transform: rotate(0deg); }
  45.0% {
    transform: rotate(-10deg); }
  46.5% {
    transform: rotate(4deg); }
  48.0% {
    transform: rotate(10deg); }
  49.5% {
    transform: rotate(-5deg); }
  51.0% {
    transform: rotate(-8deg); }
  52.5% {
    transform: rotate(7deg); }
  54.0% {
    transform: rotate(-10deg); }
  55.5% {
    transform: rotate(3deg); }
  57.0% {
    transform: rotate(8deg); }
  58.5% {
    transform: rotate(-6deg); }
  60.0% {
    transform: rotate(-7deg); }
  61.5% {
    transform: rotate(8deg); }
  63.0% {
    transform: rotate(4deg); }
  64.5% {
    transform: rotate(-7deg); }
  66.0% {
    transform: rotate(2deg); }
  67.5% {
    transform: rotate(9deg); }
  69.0% {
    transform: rotate(0deg); }
  70.5% {
    transform: rotate(-9deg); }
  72.0% {
    transform: rotate(1deg); }
  73.5% {
    transform: rotate(9deg); }
  75.0% {
    transform: rotate(-3deg); }
  76.5% {
    transform: rotate(-8deg); }
  78.0% {
    transform: rotate(-2deg); }
  79.5% {
    transform: rotate(2deg); }
  81.0% {
    transform: rotate(5deg); }
  82.5% {
    transform: rotate(-12deg); }
  84.0% {
    transform: rotate(4deg); }
  85.5% {
    transform: rotate(9deg); }
  87.0% {
    transform: rotate(-7deg); }
  88.5% {
    transform: rotate(0deg); }
  90.0% {
    transform: rotate(11deg); }
  91.5% {
    transform: rotate(-2deg); }
  93.0% {
    transform: rotate(-10deg); }
  94.5% {
    transform: rotate(4deg); }
  96.0% {
    transform: rotate(9deg); }
  97.5% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0deg); } }
