.page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture {
    position: absolute;
    background: #212B35;
    width: 800px;
    height: 600px;
    overflow: hidden;

    *, *:before, *:after {
        content: '';
        position: absolute;
    }
}

.space {

    &__cloud__fill {
        width: 510px;
        height: 580px;
        left: -234px;
        top: -300px;
        background: #803B96;
        transform: rotate(48deg);
    }

    &__cloud {
        // top: -124px;
        // left: -120px;  
    }

    &__little__boy__head {
        top: 366px;
        left: 166px;
        width: 76px;
        height: 76px;
        border-radius: 100px;
        background: #bfbfbf;
        box-shadow: 0px 0px 30px 8px rgb(57, 73, 89);
        animation: boyAnimation 30s linear infinite;

        .helmet:before{
            top: 10px;
            left: 5px;
            width: 70px;
            height: 55px;
            background: #2e3b4a;
            border-radius: 100px;
        }

        .helmet:after{
            top: 10px;
            left: 50px;
            width: 10px;
            height: 14px;
            background: #ffffff;
            clip-path: ellipse(12% 44% at 50% 52%);
            transform: rotate(-70deg);
        }
    }

    &__little__boy__trunk {
        position: absolute;
        z-index: 2;
        top: 426px;
        left: 214px;
        width: 63px;
        height: 64px;
        border-radius: 0px 30px 100px 0px;
        background: #bfbfbf;
        clip-path: polygon(0 0, 54% 0, 100% 100%, 43% 100%);
        animation: boyAnimation 30s linear infinite;
    }

    &__little__boy__trunk__shadow {
            position: absolute;
            z-index: 2;
            top: 426px;
            left: 180px;
            width: 63px;
            height: 64px;
            background:  #bfbfbf;
            border-radius: 34px 0px 0px 0px;
            clip-path: polygon(0 0, 54% 0, 100% 100%, 43% 100%);
            animation: boyAnimation 30s linear infinite;
    }

    &__little__boy__leg__right {
        top: 430px;
        left: 180px;
        animation: boyAnimation 30s linear infinite;
        
        .leg{
            transform-origin: 40px 40px;
            animation: legAnimation 30s linear infinite;
        }

        .leg:before {
            top: 42px;
            left: 30px;
            width: 62px;
            height: 62px;
            margin-right: 10px;
            border-radius: 100px 100px 100px 100px;
            background: #bfbfbf;
            transform: rotate(0deg);
            clip-path: polygon(36% 0, 71% 31%, 100% 76%, 77% 93%, 48% 50%, 3% 23%);
        }

        .shoe:before {
            top: 48px;
            left: 92px;
            width: 18px;
            height: 20px;
            background: #ffffff;
            border-radius: 10px 2px 0px 0px;
            transform-origin: 50px 50px;
            transform: rotate(-40deg);
        }

        .shoe:after {
            top: 53px;
            left: 104px;
            width: 18px;
            height: 9px;
            background: #ffffff;
            border-radius: 0px 100px 50px 0px;
            transform-origin: 50px 50px;
            transform: rotate(-40deg);
        }
    }

    &__little__boy__leg__left {
        top: 430px;
        left: 180px;
        animation: boyAnimation 30s linear infinite;

        .leg {
            animation: legAnimation 30s linear infinite;
            transform-origin: 40px 40px;
        }
      
        .leg:before {
            top: 6px;
            left: 56px;
            width: 52px;
            height: 77px;
            margin-left: 10px;
            border-radius: 50px;
            background: #bfbfbf;
            transform: rotate(0deg);
            clip-path: polygon(11% 18%, 69% 33%, 100% 68%, 96% 87%, 51% 54%, 0 50%);
 
        }

        .shoe:before {
            top: 16px;
            left: 124px;
            width: 14px;
            height: 20px;
            background: #ffffff;
            border-radius: 10px 2px 0px 2px;
            transform-origin: 50px 50px;
            transform: rotate(-40deg);
        }

        .shoe:after {
            top: 21px;
            left: 136px;
            width: 16px;
            height: 9px;
            background: #ffffff;
            border-radius: 0px 100px 50px 0px;
            transform-origin: 50px 50px;
            transform: rotate(-40deg);
        }
    }

    &__little__boy__arms {
        top: 530px;
        left: 180px;
        animation: boyAnimation 30s linear infinite;
        position: absolute;
        z-index: 2;

        div:before {
            top: -90px;
            left: -14px;
            width: 72px;
            height: 54px;
            background: #bfbfbf;
            clip-path: polygon(51% 12%, 40% 60%, 37% 100%, 20% 99%, 17% 54%, 28% 3%);
            transform: rotate(0deg);
        }

        div:after {
            top: -133px;
            left: 61px;
            width: 62px;
            height: 90px;
            background: #bfbfbf;
            clip-path: polygon(0 33%, 41% 31%, 83% 17%, 92% 28%, 49% 50%, 0 53%);
        }
    }

    &__little__boy__palm__right {
        top: 470px;
        left: 170px;
        position: absolute;
        z-index: 2;
        animation: boyAnimation 30s linear infinite;
      
        .glove:before{
            top: 12px;
            left: 10px;
            width: 16px;
            height: 22px;
            background: #ffffff;
            border-radius: 100px;
            transform: rotate(-10deg);
        }

        .glove:after{
            top: 12px;
            left: 23px;
            width: 4px;
            height: 8px;
            background: #ffffff;
            border-radius: 100px;
            transform: rotate(-60deg);
        }

        .sleeve:before {
            top: 5px;
            left: 15px;
            width: 4px;
            height: 18px;
            background: #40a5db;
            border-radius: 100px;
            transform: rotate(70deg);
        }
    }

    &__little__boy__palm__left {
        top: 410px;
        left: 270px;
        position: absolute;
        z-index: 2;
        animation: boyAnimation 30s linear infinite;

        .glove:before{
            top: -2px;
            left: 12px;
            width: 16px;
            height: 22px;
            background: #ffffff;
            border-radius: 100px;
            transform: rotate(-128deg);
        }

        .glove:after{
            top: 2px;
            left: 10px;
            width: 4px;
            height: 8px;
            background: #ffffff;
            border-radius: 100px;
            transform: rotate(-176deg);
        }

        .sleeve:before {
            top: 7px;
            left: 9px;
            width: 4px;
            height: 16px;
            background: #40a5db;
            border-radius: 100px;
            transform: rotate(-32deg);
        }
    }

    &__little__boy__belly {
        top: 430px;
        left: 210px;
        position: absolute;
        z-index: 2;
        animation: boyAnimation 30s linear infinite;
        
        .box:before {
            top: 6px;
            left: 7px;
            width: 26px;
            height: 32px;
            background: #d9d9d9;
            border-radius: 4px;
            transform: rotate(-24deg);
        }

        .box__interface:before {
            top: 10px;
            left: 8px;
            width: 18px;
            height: 12px;
            background: #384a5c;
            border-radius: 4px;
            transform: rotate(-24deg)
        }

        .buttons__1:before{
            top: 24px;
            left: 17px;
            width: 14px;
            height: 4px;
            background: #a0b7db;
            border-radius: 4px;
            transform: rotate(-24deg);
        }

        .buttons__1:after{
            top: 29px;
            left: 19px;
            width: 14px;
            height: 4px;
            background: #a0b7db;
            border-radius: 4px;
            transform: rotate(-24deg);
        }

        .buttons__2:before{
            top: 28px;
            left: 12px;
            width: 5px;
            height: 5px;
            background: #a0b7db;
            border-radius: 4px;
            transform: rotate(-24deg);
        }

        .buttons__2:after{
            top: 33px;
            left: 15px;
            width: 4px;
            height: 4px;
            background: #a0b7db;
            border-radius: 4px;
            transform: rotate(-24deg);
        }
    }

    &__rope {
        position: absolute;
        z-index: 1;
        animation: ropeAnimation 30s linear infinite;
        top: 342px;
        left: 202px;
    }

    &__ship__container{
        animation: shipAnimation 30s linear infinite;
        position: absolute;
        z-index: 2;

    .head:before {
        position: absolute;
        z-index: 2;
        top: 396px;
        left: 566px;
        width: 50px;
        height: 50px;
        background-color: #f03629;
        border-radius: 100% 0% 31% 69% / 30% 30% 70% 70%;
        transform: rotate(12deg);
    }

    .wings:before {
        position: absolute;
        z-index: 2;
        top: 463px;
        left: 536px;
        width: 50px;
        height: 50px;
        background-color: #f03629;
        clip-path: polygon(100% 0, 87% 50%, 25% 90%, 40% 65%, 54% 41%, 66% 15%);
        transform: rotate(-2deg);
    }

    .wings:after {
        position: absolute;
        z-index: 2;
        top: 394px;
        left: 492px;
        width: 50px;
        height: 50px;
        background-color: #f03629;
        clip-path: polygon(100% 0, 87% 50%, 25% 90%, 40% 65%, 54% 41%, 66% 15%);
        transform: scaleY(-1) rotate(59deg)
    }

    .window:before {
        position: absolute;
        z-index: 2;
        top: 425px;
        left: 526px;
        width: 44px;
        height: 44px;
        background: #a0b7db;
        border-radius: 100px;
    }

    .window:after {
        position: absolute;
        z-index: 2;
        top: 426px;
        left: 545px;
        width: 8px;
        height: 43px;
        background: #a7c0e8;
        border-radius: 30px;
        transform: rotate(90deg);
    }

    .window__reflection:before {
        position: absolute;
        z-index: 2;
        top: 416px;
        left: 545px;
        width: 8px;
        height: 38px;
        background: #a7c0e8;
        border-radius: 30px 0px 0px 30px;
        transform: rotate(90deg);
    }

    .window__reflection:after {
        position: absolute;
        z-index: 2;
        top: 440px;
        left: 546px;
        width: 4px;
        height: 37px;
        background: #a7c0e8;
        border-radius: 0px 30px 30px 0px;
        transform: rotate(90deg);
    }

    .backside:before {
        clip-path: polygon(17% 0, 75% 0%, 100% 50%, 75% 100%, 18% 100%);
        position: absolute;
        z-index: 2;
        top: 464px;
        left: 487px;
        width: 12px;
        height: 12px;
        background: #a0b7db;
        transform: rotate(150deg);
    }

    .backside:after {
        position: absolute;
        z-index: 2;
        top: 477px;
        left: 494px;
        width: 12px;
        height: 12px;
        background: #a0b7db;
        transform: rotate(150deg);
        clip-path: polygon(17% 0, 75% 0%, 100% 50%, 75% 100%, 18% 100%);
    }

    .fire:before{
        top: 486px;
        left: 484px;
        width: 8px;
        height: 8px;
        background: #ffa914;
        border-radius: 64% 36% 100% 0% / 100% 37% 63% 0%;
        transform: rotate(18deg);
        animation: fireAnimation 30s linear infinite;
    }

    .fire:after{
        top: 472px;
        left: 476px;
        width: 8px;
        height: 8px;
        background: #ffa914;
        border-radius: 64% 36% 100% 0% / 100% 37% 63% 0%;
        transform: rotate(10deg);
        animation: fireAnimation 30s linear infinite;
    }
    }

    &__ship {
        position: absolute;
        z-index: 2;
        top: 175px;
        left: 412px;
        transform: scale(0.3) rotate(60deg);      
    }

    
    &__planet{
       top: 180px;
       left: 60px; 
       width: 76px;
       height: 76px;
       box-shadow: 0px 0px 30px 8px rgb(57, 73, 89);
       border-radius: 100px;
       background: #FF8549;
       animation: spacePlanet 30s linear infinite;

       .upper_shades:before {
        top: -3px;
        left: 3px;
        width: 72px;
        height: 76px;
        border-radius: 100px;
        background: #EC7451;
        clip-path: polygon(19% 13%, 43% 8%, 68% 12%, 82% 15%, 53% 34%, 21% 36%, 0 46%, 3% 24%);
    }

    .upper_shades:after {
        top: 26px;
        left: 0px;
        width: 84px;
        height: 76px;
        border-radius: 100px;
        background: #EC7451;
        clip-path: polygon(51% 3%, 68% 12%, 100% 13%, 83% 19%, 55% 17%, 41% 12%, 22% 16%, 11% 14%, 0 12%, 28% 9%);
    }

    .lower_shades:before{
        top: 30px;
        left: 2px;
        width: 68px;
        height: 76px;
        border-radius: 100px;
        background: #EC7451;
        clip-path: polygon(21% 25%, 48% 18%, 92% 29%, 98% 40%, 76% 56%, 46% 59%, 23% 52%, 0 29%);
    }
}

&__planet__2 {
    top: 300px;
    left: 460px; 
    width: 36px;
    height: 36px;
    box-shadow: 0px 0px 30px 8px #ffa87d;
    border-radius: 100px;
    background: #FF8549;
}

&__planet__3 {
    top: 120px;
    left: 320px; 
    width: 42px;
    height: 42px;
    box-shadow: 0px 0px 30px 8px rgb(57, 73, 89);
    border-radius: 100px;
    background: #e3b462;
    background-image: linear-gradient(#e3b462, #FF8549, #FF8549);

    div:before{
        top: -16px;
        left: -7px;
        width: 60px;
        height: 76px;
        border-radius: 100px;
        background: #e36c32;
        transform: rotate(110deg);
        clip-path: ellipse(7% 46% at 51% 53%);
    }
}

&__moon{
    top: 80px;
    left: 580px; 
    width: 126px;
    height: 126px;
    box-shadow: 0px 0px 30px 8px #d4d4d4;
    border-radius: 100px;
    background: #e3e3e3;

    .crater_1:before {
        top: 48px;
        left: -2px;
        width: 60px;
        height: 63px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_1:after {
        top: 55px;
        left: -1px;
        width: 44px;
        height: 44px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(25% 25% at 49% 44%);
    }

    .crater_2:before {
        top: 66px;
        left: 28px;
        width: 70px;
        height: 56px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_2:after {
        top: 68px;
        left: 28px;
        width: 68px;
        height: 52px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_3:before {
        top: 49px;
        left: 64px;
        width: 84px;
        height: 81px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_3:after {
        top: 56px;
        left: 64px;
        width: 65px;
        height: 59px;
        border-radius: 100px;
        background: #e0e0e0;
        clip-path: ellipse(25% 25% at 49% 44%);
    }

    .crater_4:before {
        top: 30px;
        left: 6px;
        width: 40px;
        height: 36px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_4:after {
        top: 35px;
        left: 8px;
        width: 34px;
        height: 28px;
        border-radius: 100px;
        background: #e0dede;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_5:before {
        top: 18px;
        left: 33px;
        width: 34px;
        height: 30px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_5:after {
        top: 23px;
        left: 35px;
        width: 28px;
        height: 22px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_6:before {
        top: 18px;
        left: 63px;
        width: 24px;
        height: 20px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_6:after {
        top: 19px;
        left: 64px;
        width: 22px;
        height: 20px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_7:before {
        top: 32px;
        left: 116px;
        width: 22px;
        height: 50px;
        border-radius: 100px;
        background: #d1d1d1;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_7:after {
        top: 30px;
        left: 113px;
        width: 22px;
        height: 60px;
        border-radius: 10px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_8:before {
        top: 46px;
        left: -8px;
        width: 22px;
        height: 50px;
        border-radius: 100px;
        background: #d1d1d1;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_8:after {
        top: 44px;
        left: -4px;
        width: 22px;
        height: 60px;
        border-radius: 10px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_9:before {
        top: 48px;
        left: 53px;
        width: 24px;
        height: 20px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_9:after {
        top: 49px;
        left: 53px;
        width: 22px;
        height: 20px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_10:before {
        top: 104px;
        left: 53px;
        width: 34px;
        height: 30px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_10:after {
        top: 105px;
        left: 55px;
        width: 32px;
        height: 30px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_11:before {
        top: 95px;
        left: 21px;
        width: 24px;
        height: 20px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_11:after {
        top: 96px;
        left: 22px;
        width: 22px;
        height: 20px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_11:before {
        top: 38px;
        left: 85px;
        width: 24px;
        height: 20px;
        border-radius: 100px;
        background: #cccccc;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_11:after {
        top: 38px;
        left: 86px;
        width: 22px;
        height: 20px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_12:before {
        top: -9px;
        left: 43px;
        width: 60px;
        height: 24px;
        border-radius: 10px;
        background: #d1d1d1;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_12:after {
        top: -5px;
        left: 40px;
        width: 70px;
        height: 22px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_13:before {
        top: 2px;
        left: 80px;
        width: 60px;
        height: 54px;
        border-radius: 10px;
        background: #d1d1d1;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_13:after {
        top: -4px;
        left: 74px;
        width: 70px;
        height: 86px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_14:before {
        top: 90px;
        left: 8px;
        width: 60px;
        height: 54px;
        border-radius: 10px;
        background: #d1d1d1;
        clip-path: ellipse(20% 20% at 38% 39%);
    }

    .crater_14:after {
        top: 70px;
        left: 0px;
        width: 100px;
        height: 84px;
        border-radius: 100px;
        background: #e3e3e3;
        clip-path: ellipse(20% 20% at 38% 39%);
    }
}

&__star__1{
    top: 280px;
    left: 260px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
    animation: small_star 30s linear infinite;
}

&__star__2{
    top: 100px;
    left: 360px; 
    width: 2px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
    animation: falling_star 30s linear infinite; 

}

&__star__3{
    top: 160px;
    left: 260px; 
    width: 2px;
    height: 2px;
    box-shadow: 0px 0px 20px 6px #394959;
    border-radius: 100px;
    background: #e3d746;
    animation: large_star 30s linear infinite;

}

&__star__4{
    top: 480px;
    left: 460px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
    animation: small_star 30s linear infinite;
}

&__star__5{
    top: 530px;
    left: 160px; 
    width: 2px;
    height: 2px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}

&__star__6{
    top: 140px;
    left: 560px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}

&__star__7{
    top: 580px;
    left: 620px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}

&__star__8{
    top: 410px;
    left: 550px; 
    width: 2px;
    height: 2px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}

&__star__9{
    top: 310px;
    left: 360px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;

}

&__star__10{
    top: 280px;
    left: 440px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}

&__star__11{
    top: 200px;
    left: 420px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;

}

&__star__12{
    top: 160px;
    left: 260px; 
    width: 2px;
    height: 2px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
    animation: medium_star 30s linear infinite;

}

&__star__13{
    top: 80px;
    left: 420px; 
    width: 2px;
    height: 2px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}

&__star__14{
    top: 80px;
    left: 590px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;

}

&__star__15{
    top: 280px;
    left: 640px; 
    width: 2px;
    height: 2px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
    animation: medium_star 30s linear infinite;

}

&__star__16{
    top: 480px;
    left: 660px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
    animation: small_star 30s linear infinite;

}

&__star__17{
    top: 220px;
    left: 560px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}

&__star__18{
    top: 480px;
    left: 70px; 
    width: 2px;
    height: 2px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}

&__star__19{
    top: 370px;
    left: 40px; 
    width: 2px;
    height: 2px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}

&__star__20{
    top: 300px;
    left: 140px; 
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 10px 2px #394959;
    border-radius: 100px;
    background: #e3d746;
}
}

/* ANIMATION */

@keyframes boyAnimation {
    0.0%  { transform: translate(-4px, -7px); }
    1.5%  { transform: translate(-1px, -15px); }
    3.0%  { transform: translate(1px, -20px); }
    4.5%  { transform: translate(-3px, -18px); }
    6.0%  { transform: translate(-7px, -11px); }
    7.5%  { transform: translate(-2px, -8px); }
    9.0%  { transform: translate(38px, 34px); }
    10.5% { transform: translate(40px, 34px); }
    12.0% { transform: translate(32px, 29px); }
    13.5% { transform: translate(26px, 20px); }
    15.0% { transform: translate(20px, 8px); }
    16.5% { transform: translate(6px, -5px); }
    18.0% { transform: translate(0px, -14px); }
    19.5% { transform: translate(-1px, -19px); }
    21.0% { transform: translate(-4px, -20px); }
    22.6% { transform: translate(-6px, -19px); }
    24.0% { transform: translate(-2px, -15px); }
    25.5% { transform: translate(1px, -9px); }
    27.0% { transform: translate(-1px, -5px); }
    28.5% { transform: translate(-4px, -3px); }
    30.0% { transform: translate(-1px, -3px); }
    31.5% { transform: translate(1px, -8px); }
    33.0% { transform: translate(-6px, -14px); }
    34.5% { transform: translate(-5px, -18px); }
    36.0% { transform: translate(-1px, -18px); }
    37.5% { transform: translate(-2px, -13px); }
    39.0% { transform: translate(-5px, -5px); }
    40.5% { transform: translate(-4px, 2px); }
    42.0% { transform: translate(0px, 5px); }
    43.5% { transform: translate(0px, 3px); }
    45.0% { transform: translate(-4px, -1px); }
    46.5% { transform: translate(-2px, -5px); }
    48.0% { transform: translate(15px, -3px); }
    49.5% { transform: translate(56px, -1px); }
    51.0% { transform: translate(50px, 0px); }
    52.5% { transform: translate(41px, -2px); }
    54.0% { transform: translate(34px, -3px); }
    55.5% { transform: translate(32px, -3px); }
    57.0% { transform: translate(27px, -4px); }
    58.5% { transform: translate(12px, -6px); }
    60.0% { transform: translate(1px, -7px); }
    61.5% { transform: translate(3px, -7px); }
    63.0% { transform: translate(5px, -8px); }
    64.5% { transform: translate(0px, -9px); }
    66.0% { transform: translate(-1px, -10px); }
    67.5% { transform: translate(2px, -10px); }
    69.0% { transform: translate(3px, -9px); }
    70.5% { transform: translate(-1px, -3px); }
    72.0% { transform: translate(-1px, 2px); }
    73.5% { transform: translate(3px, 3px); }
    75.0% { transform: translate(2px, 0px); }
    76.5% { transform: translate(-2px, -3px); }
    78.0% { transform: translate(31px, 13px); }
    79.5% { transform: translate(52px, 27px); }
    81.0% { transform: translate(54px, 22px); }
    82.5% { transform: translate(42px, 17px); }
    84.0% { transform: translate(33px, 9px); }
    85.5% { transform: translate(25px, 2px); }
    87.0% { transform: translate(9px, -6px); }
    88.5% { transform: translate(0px, -10px); }
    90.0% { transform: translate(1px, -15px); }
    91.5% { transform: translate(-2px, -15px); }
    93.0% { transform: translate(-5px, -11px); }
    94.5% { transform: translate(-3px, -5px); }
    96.0% { transform: translate(0px, -1px); }
    97.5% { transform: translate(0px, 0px); }
    100%  { transform: translate(0px, 0px); }
}

@keyframes armAnimation {
    0.0%  { transform: rotate(-0.3deg); }
    1.5%  { transform: rotate(1deg); }
    3.0%  { transform: rotate(1deg); }
    4.5%  { transform: rotate(-0.5deg); }
    6.0%  { transform: rotate(-1deg); }
    7.5%  { transform: rotate(2deg); }
    9.0%  { transform: rotate(1deg); }
    10.5% { transform: rotate(-1deg); }
    12.0% { transform: rotate(-1deg); }
    13.5% { transform: rotate(0.4deg); }
    15.0% { transform: rotate(3deg); }
    16.5% { transform: rotate(-2deg); }
    18.0% { transform: rotate(0.5deg); }
    19.5% { transform: rotate(1deg); }
    21.0% { transform: rotate(-5deg); }
    22.6% { transform: rotate(-2deg); }
    24.0% { transform: rotate(6deg); }
    25.5% { transform: rotate(3deg); }
    27.0% { transform: rotate(-1deg); }
    28.5% { transform: rotate(-4deg); }
    30.0% { transform: rotate(3deg); }
    31.5% { transform: rotate(3deg); }
    33.0% { transform: rotate(-4deg); }
    34.5% { transform: rotate(3deg); }
    36.0% { transform: rotate(3deg); }
    37.5% { transform: rotate(-2deg); }
    39.0% { transform: rotate(-11deg); }
    40.5% { transform: rotate(0deg); }
    42.0% { transform: rotate(4deg); }
    43.5% { transform: rotate(0deg); }
    45.0% { transform: rotate(-5deg); }
    46.5% { transform: rotate(2deg); }
    48.0% { transform: rotate(5deg); }
    49.5% { transform: rotate(-2deg); }
    51.0% { transform: rotate(-4deg); }
    52.5% { transform: rotate(3deg); }
    54.0% { transform: rotate(-5deg); }
    55.5% { transform: rotate(1deg); }
    57.0% { transform: rotate(4deg); }
    58.5% { transform: rotate(-3deg); }
    60.0% { transform: rotate(-2deg); }
    61.5% { transform: rotate(4deg); }
    63.0% { transform: rotate(2deg); }
    64.5% { transform: rotate(-3deg); }
    66.0% { transform: rotate(1deg); }
    67.5% { transform: rotate(4deg); }
    69.0% { transform: rotate(0deg); }
    70.5% { transform: rotate(-3deg); }
    72.0% { transform: rotate(1deg); }
    73.5% { transform: rotate(3deg); }
    75.0% { transform: rotate(-1deg); }
    76.5% { transform: rotate(-4deg); }
    78.0% { transform: rotate(-1deg); }
    79.5% { transform: rotate(1deg); }
    81.0% { transform: rotate(2deg); }
    82.5% { transform: rotate(-6deg); }
    84.0% { transform: rotate(2deg); }
    85.5% { transform: rotate(3deg); }
    87.0% { transform: rotate(-3deg); }
    88.5% { transform: rotate(0deg); }
    90.0% { transform: rotate(5deg); }
    91.5% { transform: rotate(-1deg); }
    93.0% { transform: rotate(-5deg); }
    94.5% { transform: rotate(2deg); }
    96.0% { transform: rotate(3deg); }
    97.5% { transform: rotate(-1deg); }
    100%  { transform: rotate(0deg); }
}

@keyframes legAnimation {
    0.0%  { transform: rotate(-3deg); }
    1.5%  { transform: rotate(3deg); }
    3.0%  { transform: rotate(1deg); }
    4.5%  { transform: rotate(-3deg); }
    6.0%  { transform: rotate(-3deg); }
    7.5%  { transform: rotate(3deg); }
    9.0%  { transform: rotate(5deg); }
    10.5% { transform: rotate(-3deg); }
    12.0% { transform: rotate(-4deg); }
    13.5% { transform: rotate(2deg); }
    15.0% { transform: rotate(3deg); }
    16.5% { transform: rotate(-4deg); }
    18.0% { transform: rotate(1deg); }
    19.5% { transform: rotate(4deg); }
    21.0% { transform: rotate(-5deg); }
    22.6% { transform: rotate(-2deg); }
    24.0% { transform: rotate(6deg); }
    25.5% { transform: rotate(3deg); }
    27.0% { transform: rotate(-1deg); }
    28.5% { transform: rotate(-4deg); }
    30.0% { transform: rotate(3deg); }
    31.5% { transform: rotate(3deg); }
    33.0% { transform: rotate(-4deg); }
    34.5% { transform: rotate(3deg); }
    36.0% { transform: rotate(3deg); }
    37.5% { transform: rotate(-2deg); }
    39.0% { transform: rotate(-11deg); }
    40.5% { transform: rotate(0deg); }
    42.0% { transform: rotate(4deg); }
    43.5% { transform: rotate(0deg); }
    45.0% { transform: rotate(-5deg); }
    46.5% { transform: rotate(2deg); }
    48.0% { transform: rotate(5deg); }
    49.5% { transform: rotate(-2deg); }
    51.0% { transform: rotate(-4deg); }
    52.5% { transform: rotate(3deg); }
    54.0% { transform: rotate(-5deg); }
    55.5% { transform: rotate(1deg); }
    57.0% { transform: rotate(4deg); }
    58.5% { transform: rotate(-3deg); }
    60.0% { transform: rotate(-2deg); }
    61.5% { transform: rotate(4deg); }
    63.0% { transform: rotate(2deg); }
    64.5% { transform: rotate(-3deg); }
    66.0% { transform: rotate(1deg); }
    67.5% { transform: rotate(4deg); }
    69.0% { transform: rotate(0deg); }
    70.5% { transform: rotate(-3deg); }
    72.0% { transform: rotate(1deg); }
    73.5% { transform: rotate(3deg); }
    75.0% { transform: rotate(-1deg); }
    76.5% { transform: rotate(-4deg); }
    78.0% { transform: rotate(-1deg); }
    79.5% { transform: rotate(1deg); }
    81.0% { transform: rotate(2deg); }
    82.5% { transform: rotate(-6deg); }
    84.0% { transform: rotate(2deg); }
    85.5% { transform: rotate(3deg); }
    87.0% { transform: rotate(-3deg); }
    88.5% { transform: rotate(0deg); }
    90.0% { transform: rotate(5deg); }
    91.5% { transform: rotate(-1deg); }
    93.0% { transform: rotate(-5deg); }
    94.5% { transform: rotate(2deg); }
    96.0% { transform: rotate(3deg); }
    97.5% { transform: rotate(-1deg); }
    100%  { transform: rotate(0deg); }
}

@keyframes ropeAnimation {
    0.0%  { transform: translate(-4px, -7px) skew(-0.1deg, -0.1deg)}
    1.5%  { transform: translate(-1px, -15px)skew(-0.2deg, -0.1deg)}
    3.0%  { transform: translate(1px, -20px) skew(-0.9deg, -0.8deg)} 
    4.5%  { transform: translate(-3px, -18px) skew(-1.4deg, -1deg)}
    6.0%  { transform: translate(-7px, -11px) skew(-1.6deg, -0.5deg)}
    7.5%  { transform: translate(-2px, -8px) skew(-0.1deg, -0.4deg)}
    9.0%  { transform: translate(38px, 34px) skew(-0.1deg, -0.1deg)}
    10.5% { transform: translate(40px, 34px) }
    12.0% { transform: translate(32px, 29px) skew(1deg, 2deg)}
    13.5% { transform: translate(26px, 20px) skew(2deg, 2deg)}
    15.0% { transform: translate(20px, 8px) skew(2deg, 1deg)}
    16.5% { transform: translate(6px, -5px) skew(1deg, 0.6deg)}
    18.0% { transform: translate(0px, -14px) }
    19.5% { transform: translate(-1px, -19px) }
    21.0% { transform: translate(-4px, -20px) }
    22.6% { transform: translate(-6px, -19px) skew(1deg, 0.5deg)}
    24.0% { transform: translate(-2px, -15px) skew(1deg, 1deg)}
    25.5% { transform: translate(1px, -9px) skew(2deg, 2deg)}
    27.0% { transform: translate(-1px, -3px) skew(3deg, 2deg)}
    28.5% { transform: translate(-4px, -3px) skew(3deg, 2deg)}
    30.0% { transform: translate(-1px, -3px) skew(2deg, 1deg)}
    31.5% { transform: translate(1px, -8px) skew(1.4deg, 1deg)}
    33.0% { transform: translate(-6px, -14px) skew(1deg, 0.5deg)}
    34.5% { transform: translate(-5px, -18px) skew(0.7deg, 0.3deg) }
    36.0% { transform: translate(-1px, -18px) skew(0.5deg, 0.3deg) }
    37.5% { transform: translate(-2px, -13px) skew(0.5deg, 0.4deg) }
    39.0% { transform: translate(-5px, -5px) skew(0.5deg, 0.5deg)  }
    40.5% { transform: translate(-4px, 2px) skew(1deg, 0.7deg)  }
    42.0% { transform: translate(0px, 5px) skew(1deg, 1deg) }
    43.5% { transform: translate(0px, 3px) skew(2deg, 2deg)  }
    45.0% { transform: translate(-4px, -1px) skew(1deg, 2deg)  }
    46.5% { transform: translate(-2px, -5px) skew(2deg, 2deg)  }
    48.0% { transform: translate(15px, -3px) skew(1deg, 2deg)  }
    49.5% { transform: translate(56px, -1px) skew(1deg, 1deg)  }
    51.0% { transform: translate(50px, 0px) skew(2deg, 2deg)  }
    52.5% { transform: translate(41px, -2px) skew(2.2deg, 1.2deg)  }
    54.0% { transform: translate(34px, -3px) skew(1deg, 1deg)  }
    55.5% { transform: translate(32px, -3px) skew(0.2deg, 0.4deg)  }
    57.0% { transform: translate(27px, -4px) skew(0.1deg, 0.2deg) }
    58.5% { transform: translate(12px, -6px) skew(0deg, 0.3deg) }
    60.0% { transform: translate(1px, -7px) skew(0.1deg, 0.2deg) }
    61.5% { transform: translate(3px, -7px); }
    63.0% { transform: translate(5px, -8px); }
    64.5% { transform: translate(0px, -9px) skew(-0.2deg, -0.1deg)  }
    66.0% { transform: translate(-1px, -10px) skew(-0.5deg, -0.6deg)  }
    67.5% { transform: translate(2px, -10px) skew(-1deg, -1deg)  }
    69.0% { transform: translate(3px, -9px) skew(-1.2deg, -1.4deg)  }
    70.5% { transform: translate(-1px, -3px) skew(-1.6deg, -1.8deg)  }
    72.0% { transform: translate(-1px, 2px) skew(-2deg, -2deg)  }
    73.5% { transform: translate(3px, 3px) skew(-2.2deg, -2.1deg)  }
    75.0% { transform: translate(2px, 0px) skew(-2.4deg, -2.3deg)  }
    76.5% { transform: translate(-2px, -3px) skew(-2.6deg, -2.6deg)  }
    78.0% { transform: translate(31px, 13px) skew(-2.8deg, -2.4deg)  }
    79.5% { transform: translate(52px, 27px) skew(-2.5deg, -2.1deg)  }
    81.0% { transform: translate(54px, 22px) skew(-2.3deg, -1.8deg)  }
    82.5% { transform: translate(42px, 17px) skew(-2deg, -1.4deg) }
    84.0% { transform: translate(33px, 9px) skew(-1.7deg, -1deg) }
    85.5% { transform: translate(25px, 2px) skew(-1.4deg, -0.6deg) }
    87.0% { transform: translate(9px, -6px) skew(-1deg, -0.2deg) }
    88.5% { transform: translate(0px, -10px) skew(-0.4deg, -0.1deg) }
    90.0% { transform: translate(1px, -15px) skew(0.1deg, 0.2deg) }
    91.5% { transform: translate(-2px, -15px) skew(0.5deg, 0.2deg) }
    93.0% { transform: translate(-5px, -11px) skew(1deg, 0.9deg) }
    94.5% { transform: translate(-3px, -5px) skew(1.1deg, 1deg) }
    96.0% { transform: translate(0px, -1px) skew(0.6deg, 0.5deg) }
    97.5% { transform: translate(0px, 0px) skew(-0.1deg, -0.1deg) }
    100%  { transform: translate(0px, 0px) skew(-0.1deg, -0.1deg) }
}

@keyframes shipAnimation {
    0.0%  { transform: translate(-4px, -7px) rotate(0.2deg) }
    1.5%  { transform: translate(-1px, -13px) rotate(0.4deg) }
    3.0%  { transform: translate(1px, -18px) rotate(0.2deg) }
    4.5%  { transform: translate(-3px, -16px) rotate(0.1deg) }
    6.0%  { transform: translate(-7px, -11px) rotate(0.1deg) }
    7.5%  { transform: translate(-2px, -8px) rotate(0.1deg) }
    9.0%  { transform: translate(38px, 36px) rotate(0.1deg) }
    10.5% { transform: translate(40px, 36px) rotate(0.3deg) }
    12.0% { transform: translate(32px, 30px) rotate(0.2deg) }
    13.5% { transform: translate(26px, 20px) rotate(-0.1deg) }
    15.0% { transform: translate(20px, 8px) rotate(-0.3deg) }
    16.5% { transform: translate(6px, -5px) rotate(-0.1deg) }
    18.0% { transform: translate(0px, -14px) rotate(-0.2deg) }
    19.5% { transform: translate(-1px, -19px) rotate(-0.1deg) }
    21.0% { transform: translate(-4px, -20px) rotate(-0.1deg) }
    22.6% { transform: translate(-6px, -19px) rotate(-0.1deg) }
    24.0% { transform: translate(-2px, -15px) rotate(-0.1deg) }
    25.5% { transform: translate(1px, -9px) rotate(-0.2deg) }
    27.0% { transform: translate(-1px, -5px) rotate(-0.2deg) }
    28.5% { transform: translate(-4px, -3px) rotate(-0.3deg) }
    30.0% { transform: translate(-1px, -3px) rotate(-0.2deg) }
    31.5% { transform: translate(1px, -8px) rotate(-0.2deg) }
    33.0% { transform: translate(-6px, -14px) rotate(-0.1deg) }
    34.5% { transform: translate(-5px, -18px) rotate(-0.2deg) }
    36.0% { transform: translate(-1px, -18px) rotate(-0.3deg) }
    37.5% { transform: translate(-2px, -13px) rotate(-0.1deg) }
    39.0% { transform: translate(-5px, -5px) rotate(-0.2deg) }
    40.5% { transform: translate(-4px, 2px) rotate(-0.2deg) }
    42.0% { transform: translate(0px, 5px) rotate(-0.2deg) }
    43.5% { transform: translate(0px, 3px) rotate(-0.1deg) }
    45.0% { transform: translate(-4px, -1px) rotate(-0.1deg) }
    46.5% { transform: translate(-2px, -5px) rotate(-0.1deg) }
    48.0% { transform: translate(15px, -3px) rotate(-0.1deg) }
    49.5% { transform: translate(56px, -1px) rotate(-0.2deg) }
    51.0% { transform: translate(50px, 0px) rotate(-0.2deg) }
    52.5% { transform: translate(41px, -2px) rotate(-0.1deg) }
    54.0% { transform: translate(34px, -3px) rotate(-0.3deg) }
    55.5% { transform: translate(32px, -3px) rotate(-0.2deg) }
    57.0% { transform: translate(27px, -4px) rotate(-0.2deg) }
    58.5% { transform: translate(12px, -6px) rotate(-0.1deg) }
    60.0% { transform: translate(1px, -7px) rotate(-0.2deg) }
    61.5% { transform: translate(3px, -7px) rotate(-0.1deg) }
    63.0% { transform: translate(5px, -8px) rotate(0.2deg) }
    64.5% { transform: translate(0px, -9px) rotate(0.3deg) }
    66.0% { transform: translate(-1px, -10px) rotate(0.1deg) }
    67.5% { transform: translate(2px, -10px) rotate(0.1deg) }
    69.0% { transform: translate(3px, -9px) rotate(0.2deg) }
    70.5% { transform: translate(-1px, -3px) rotate(0.2deg) }
    72.0% { transform: translate(-1px, 2px) rotate(0.2deg) }
    73.5% { transform: translate(3px, 3px) rotate(0.3deg) }
    75.0% { transform: translate(2px, 0px) rotate(0.2deg) }
    76.5% { transform: translate(-2px, -3px) rotate(0.1deg) }
    78.0% { transform: translate(31px, 13px) rotate(0.2deg) }
    79.5% { transform: translate(52px, 27px) rotate(0.3deg) }
    81.0% { transform: translate(54px, 22px) rotate(0.3deg) }
    82.5% { transform: translate(42px, 17px) rotate(0.1deg) }
    84.0% { transform: translate(33px, 9px) rotate(0.2deg) }
    85.5% { transform: translate(25px, 2px) rotate(0.2deg) }
    87.0% { transform: translate(9px, -6px) rotate(0.1deg) }
    88.5% { transform: translate(0px, -10px) rotate(0.2deg) }
    90.0% { transform: translate(1px, -15px) rotate(0.2deg) }
    91.5% { transform: translate(-2px, -15px) rotate(0.2deg) }
    93.0% { transform: translate(-5px, -11px) rotate(0.2deg) }
    94.5% { transform: translate(-3px, -5px) rotate(0.2deg) }
    96.0% { transform: translate(0px, -1px) rotate(0.2deg) }
    97.5% { transform: translate(0px, 0px) rotate(0.2deg) }
    100%  { transform: translate(0px, 0px) rotate(0.1deg) }
}

@keyframes fireAnimation {
    0.0%  { box-shadow: -4px 3px 3px 6px #facf7a; }
    1.5%  { box-shadow: -4px 3px 3px 6px #facf7a }
    3.0%  { box-shadow: -4px 3px 2px 6px #facf7a }
    4.5%  { box-shadow: -4px 3px 2px 3px #facf7a }
    6.0%  {box-shadow: -4px 3px 2px 5px #facf7a }
    7.5%  { box-shadow: -4px 3px 3px 3px #facf7a }
    9.0%  { box-shadow: -4px 3px 3px 6px #facf7a }
    10.5% { box-shadow: -4px 3px 2px 6px #facf7a }
    12.0% { box-shadow: -4px 3px 2px 5px #facf7a }
    13.5% { box-shadow: -4px 3px 2px 6px #facf7a }
    15.0% { box-shadow: -4px 3px 2px 4px #facf7a }
    16.5% { box-shadow: -4px 3px 2px 4px #facf7a }
    18.0% { box-shadow: -4px 3px 2px 6px #facf7a }
    19.5% { box-shadow: -4px 3px 3px 5px #facf7a }
    21.0% { box-shadow: -4px 3px 2px 4px #facf7a }
    22.6% { box-shadow: -4px 3px 3px 4px #facf7a }
    24.0% { box-shadow: -4px 3px 2px 4px #facf7a }
    25.5% { box-shadow: -4px 3px 2px 5px #facf7a }
    27.0% { box-shadow: -4px 3px 3px 6px #facf7a }
    28.5% { box-shadow: -4px 3px 3px 4px #facf7a }
    30.0% { box-shadow: -4px 3px 3px 2px #facf7a }
    31.5% { box-shadow: -4px 3px 4px 3px #facf7a }
    33.0% { box-shadow: -4px 3px 3px 6px #facf7a }
    34.5% { box-shadow: -4px 3px 2px 6px #facf7a }
    36.0% { box-shadow: -4px 3px 2px 6px #facf7a }
    37.5% { box-shadow: -4px 3px 3px 4px #facf7a }
    39.0% { box-shadow: -4px 3px 3px 4px #facf7a }
    40.5% { box-shadow: -4px 3px 2px 3px #facf7a }
    42.0% { box-shadow: -4px 3px 2px 6px #facf7a }
    43.5% { box-shadow: -4px 3px 3px 4px #facf7a }
    45.0% { box-shadow: -4px 3px 2px 4px #facf7a }
    46.5% { box-shadow: -4px 3px 2px 5px #facf7a }
    48.0% { box-shadow: -4px 3px 3px 6px #facf7a }
    49.5% { box-shadow: -4px 3px 3px 4px #facf7a }
    51.0% { box-shadow: -4px 3px 2px 6px #facf7a }
    52.5% { box-shadow: -4px 3px 3px 5px #facf7a }
    54.0% { box-shadow: -4px 3px 3px 4px #facf7a }
    55.5% { box-shadow: -4px 3px 4px 6px #facf7a }
    57.0% { box-shadow: -4px 3px 3px 4px #facf7a }
    58.5% { box-shadow: -4px 3px 2px 4px #facf7a }
    60.0% { box-shadow: -4px 3px 3px 6px #facf7a }
    61.5% { box-shadow: -4px 3px 2px 4px #facf7a }
    63.0% { box-shadow: -4px 3px 2px 7px #facf7a }
    64.5% { box-shadow: -4px 3px 2px 6px #facf7a }
    66.0% { box-shadow: -4px 3px 3px 4px #facf7a }
    67.5% { box-shadow: -4px 3px 2px 6px #facf7a }
    69.0% { box-shadow: -4px 3px 3px 6px #facf7a }
    70.5% { box-shadow: -4px 3px 3px 6px #facf7a }
    72.0% { box-shadow: -4px 3px 3px 3px #facf7a }
    73.5% { box-shadow: -4px 3px 2px 6px #facf7a }
    75.0% { box-shadow: -4px 3px 3px 6px #facf7a }
    76.5% { box-shadow: -4px 3px 3px 7px #facf7a }
    78.0% { box-shadow: -4px 3px 3px 5px #facf7a }
    79.5% { box-shadow: -4px 3px 4px 4px #facf7a }
    81.0% { box-shadow: -4px 3px 3px 2px #facf7a }
    82.5% { box-shadow: -4px 3px 2px 4px #facf7a }
    84.0% { box-shadow: -4px 3px 2px 6px #facf7a }
    85.5% { box-shadow: -4px 3px 2px 4px #facf7a }
    87.0% { box-shadow: -4px 3px 3px 7px #facf7a }
    88.5% { box-shadow: -4px 3px 2px 4px #facf7a }
    90.0% { box-shadow: -4px 3px 3px 6px #facf7a }
    91.5% { box-shadow: -4px 3px 2px 7px #facf7a }
    93.0% { box-shadow: -4px 3px 2px 5px #facf7a }
    94.5% { box-shadow: -4px 3px 2px 4px #facf7a }
    96.0% { box-shadow: -4px 3px 3px 3px #facf7a }
    97.5% { box-shadow: -4px 3px 2px 6px #facf7a }
    100%  { box-shadow: -4px 3px 2px 4px #facf7a }
}

@keyframes spacePlanet {
        0.0%  { transform: scale(1) }
        1.5%  { transform: scale(1); }
        3.0%  { transform: scale(1); }
        4.5%  { transform: scale(1.01); }
        6.0%  { transform: scale(1.01); }
        7.5%  { transform: scale(1); }
        9.0%  { transform: scale(1); }
        10.5% { transform: scale(1); }
        12.0% { transform: scale(1.01); }
        13.5% { transform: scale(1); }
        15.0% { transform: scale(1); }
        16.5% { transform: scale(1.01); }
        18.0% { transform: scale(1.01); }
        19.5% { transform: scale(1.01); }
        21.0% { transform: scale(1); }
        22.6% { transform: scale(1); }
        24.0% { transform: scale(1); }
        25.5% { transform: scale(1); }
        27.0% { transform: scale(1); }
        28.5% { transform: scale(1.01); }
        30.0% { transform: scale(1); }
        31.5% { transform: scale(1.01); }
        33.0% { transform: scale(1); }
        34.5% { transform: scale(1.01); }
        36.0% { transform: scale(1.01); }
        37.5% { transform: scale(1); }
        39.0% { transform: scale(1); }
        40.5% { transform: scale(1); }
        42.0% { transform: scale(1); }
        43.5% { transform: scale(1); }
        45.0% { transform: scale(1); }
        46.5% { transform: scale(1); }
        48.0% { transform: scale(1.01); }
        49.5% { transform: scale(1); }
        51.0% { transform: tscale(1); }
        52.5% { transform: scale(1); }
        54.0% { transform: scale(1); }
        55.5% { transform: scale(1); }
        57.0% { transform: scale(1.01);}
        58.5% { transform: scale(1); }
        60.0% { transform: scale(1); }
        61.5% { transform: scale(1.01); }
        63.0% { transform: scale(1); }
        64.5% { transform: scale(1); }
        66.0% { transform: scale(1); }
        67.5% { transform: scale(1); }
        69.0% { transform: scale(1); }
        70.5% { transform: scale(1.01); }
        72.0% { transform: scale(1); }
        73.5% { transform: scale(1.01); }
        75.0% { transform: scale(1); }
        76.5% { transform: scale(1); }
        78.0% { transform: scale(1); }
        79.5% { transform: scale(1); }
        81.0% { transform: scale(1.01); }
        82.5% { transform: scale(1); }
        84.0% { transform: scale(1.01); }
        85.5% { transform: scale(1); }
        87.0% { transform: scale(1); }
        88.5% { transform: scale(1); }
        90.0% { transform: scale(1); }
        91.5% { transform: scale(1); }
        93.0% { transform: scale(1); }
        94.5% { transform: scale(1.01); }
        96.0% { transform: scale(1); }
        97.5% { transform: scale(1); }
        100%  { transform: translate(0px, 0px); }
}

@keyframes small_star{
    0.0%  { transform: scale(1.5) }
    1.5%  { transform: scale(1.0); }
    3.0%  { transform: scale(1.8); }
    4.5%  { transform: scale(0.2); }
    6.0%  { transform: scale(0.8); }
    7.5%  { transform: scale(2.2); }
    9.0%  { transform: scale(0.8); }
    10.5% { transform: scale(0.8); }
    12.0% { transform: scale(0.6); }
    13.5% { transform: scale(0.5); }
    15.0% { transform: scale(0.9); }
    16.5% { transform: scale(0.8); }
    18.0% { transform: scale(2); }
    19.5% { transform: scale(0.8); }
    21.0% { transform: scale(0.8); }
    22.6% { transform: scale(1.1); }
    24.0% { transform: scale(2.0); }
    25.5% { transform: scale(0.8);; }
    27.0% { transform: scale(0.8); }
    28.5% { transform: scale(0.8); }
    30.0% { transform: scale(0.9);; }
    31.5% { transform: scale(1.0); }
    33.0% { transform: scale(0.8); }
    34.5% { transform: scale(0.8); }
    36.0% { transform: scale(0.8); }
    37.5% { transform: scale(1.2); }
    39.0% { transform: scale(1.4); }
    40.5% { transform: scale(1.0); }
    42.0% { transform: scale(0.8); }
    43.5% { transform: scale(0.8); }
    45.0% { transform: scale(0.8); }
    46.5% { transform: scale(0.8); }
    48.0% { transform: scale(0.8); }
    49.5% { transform: scale(0.8); }
    51.0% { transform: tscale(0.8); }
    52.5% { transform: scale(0.8); }
    54.0% { transform: scale(0.8); }
    55.5% { transform: scale(0.9); }
    57.0% { transform: scale(0.8);}
    58.5% { transform: scale(0.8); }
    60.0% { transform: scale(2.0); }
    61.5% { transform: scale(0.8); }
    63.0% { transform: scale(0.8); }
    64.5% { transform: scale(0.8); }
    66.0% { transform: scale(0.8); }
    67.5% { transform: scale(0.8); }
    69.0% { transform: scale(0.8); }
    70.5% { transform: scale(0.8); }
    72.0% { transform: scale(0.8); }
    73.5% { transform: scale(0.8); }
    75.0% { transform: scale(2.2); }
    76.5% { transform: scale(0.8); }
    78.0% { transform: scale(0.8); }
    79.5% { transform: scale(1.4); }
    81.0% { transform: scale(0.8); }
    82.5% { transform: scale(0.8); }
    84.0% { transform: scale(0.8); }
    85.5% { transform: scale(1.8); }
    87.0% { transform: scale(0.8); }
    88.5% { transform: scale(0.8); }
    90.0% { transform: scale(0.8); }
    91.5% { transform: scale(0.6); }
    93.0% { transform: scale(0.8); }
    94.5% { transform: scale(0.8); }
    96.0% { transform: scale(0.8); }
    97.5% { transform: scale(1.8); }
    100%  { transform: translate(0px, 0px); }
}

@keyframes medium_star{
    0.0%  { transform: scale(1.0) }
    1.5%  { transform: scale(0.5); }
    3.0%  { transform: scale(1.0); }
    4.5%  { transform: scale(0.2); }
    6.0%  { transform: scale(0.4); }
    7.5%  { transform: scale(1.2); }
    9.0%  { transform: scale(0.2); }
    10.5% { transform: scale(0.2); }
    12.0% { transform: scale(0.2); }
    13.5% { transform: scale(0.2); }
    15.0% { transform: scale(0.0); }
    16.5% { transform: scale(0.0); }
    18.0% { transform: scale(2); }
    19.5% { transform: scale(0.2); }
    21.0% { transform: scale(0.2); }
    22.6% { transform: scale(1.2); }
    24.0% { transform: scale(2.2); }
    25.5% { transform: scale(0.6);; }
    27.0% { transform: scale(0.6); }
    28.5% { transform: scale(0.6); }
    30.0% { transform: scale(0.9);; }
    31.5% { transform: scale(1.0); }
    33.0% { transform: scale(0.2); }
    34.5% { transform: scale(0.2); }
    36.0% { transform: scale(0.2); }
    37.5% { transform: scale(1.0); }
    39.0% { transform: scale(0.4); }
    40.5% { transform: scale(1.1); }
    42.0% { transform: scale(0.3); }
    43.5% { transform: scale(0.3); }
    45.0% { transform: scale(0.5); }
    46.5% { transform: scale(0.3); }
    48.0% { transform: scale(0.3); }
    49.5% { transform: scale(1.8); }
    51.0% { transform: tscale(2.8); }
    52.5% { transform: scale(0.9); }
    54.0% { transform: scale(0.9); }
    55.5% { transform: scale(0.7); }
    57.0% { transform: scale(0.7);}
    58.5% { transform: scale(0.7); }
    60.0% { transform: scale(2.2); }
    61.5% { transform: scale(0.6); }
    63.0% { transform: scale(0.5); }
    64.5% { transform: scale(0.4); }
    66.0% { transform: scale(0.4); }
    67.5% { transform: scale(0.4); }
    69.0% { transform: scale(0.4); }
    70.5% { transform: scale(0.7); }
    72.0% { transform: scale(0.8); }
    73.5% { transform: scale(0.8); }
    75.0% { transform: scale(0.5); }
    76.5% { transform: scale(0.7); }
    78.0% { transform: scale(1.2); }
    79.5% { transform: scale(1.0); }
    81.0% { transform: scale(1.0); }
    82.5% { transform: scale(0.6); }
    84.0% { transform: scale(2.2); }
    85.5% { transform: scale(2.0); }
    87.0% { transform: scale(0.9); }
    88.5% { transform: scale(0.9); }
    90.0% { transform: scale(0.9); }
    91.5% { transform: scale(0.9); }
    93.0% { transform: scale(0.7); }
    94.5% { transform: scale(0.6); }
    96.0% { transform: scale(1.6); }
    97.5% { transform: scale(1.8); }
    100%  { transform: scale(0.7); }
}

@keyframes large_star{
    0.0%  { transform: scale(1.2) }
    1.5%  { transform: scale(1.4); }
    3.0%  { transform: scale(1.8); }
    4.5%  { transform: scale(0.9); }
    6.0%  { transform: scale(2.0); }
    7.5%  { transform: scale(1.2); }
    9.0%  { transform: scale(1.2); }
    10.5% { transform: scale(1.5); }
    12.0% { transform: scale(0.8); }
    13.5% { transform: scale(1.2); }
    15.0% { transform: scale(1.0); }
    16.5% { transform: scale(1.0); }
    18.0% { transform: scale(2.1); }
    19.5% { transform: scale(2.0); }
    21.0% { transform: scale(0.6); }
    22.6% { transform: scale(1.8); }
    24.0% { transform: scale(2.1); }
    25.5% { transform: scale(1.6);; }
    27.0% { transform: scale(1.1); }
    28.5% { transform: scale(1.3); }
    30.0% { transform: scale(1.9);; }
    31.5% { transform: scale(0.7); }
    33.0% { transform: scale(0.9); }
    34.5% { transform: scale(0.9); }
    36.0% { transform: scale(0.9); }
    37.5% { transform: scale(1.9); }
    39.0% { transform: scale(0.4); }
    40.5% { transform: scale(2.1); }
    42.0% { transform: scale(0.8); }
    43.5% { transform: scale(0.9); }
    45.0% { transform: scale(0.5); }
    46.5% { transform: scale(0.7); }
    48.0% { transform: scale(0.9); }
    49.5% { transform: scale(0.9); }
    51.0% { transform: scale(0.8); }
    52.5% { transform: scale(1.5); }
    54.0% { transform: scale(2.1); }
    55.5% { transform: scale(2.1); }
    57.0% { transform: scale(2.1);}
    58.5% { transform: scale(2.1); }
    60.0% { transform: scale(2.2); }
    61.5% { transform: scale(1.5); }
    63.0% { transform: scale(1.3); }
    64.5% { transform: scale(1.4); }
    66.0% { transform: scale(1.0); }
    67.5% { transform: scale(1.4); }
    69.0% { transform: scale(1.4); }
    70.5% { transform: scale(1.0); }
    72.0% { transform: scale(0.8); }
    73.5% { transform: scale(1.8); }
    75.0% { transform: scale(0.8); }
    76.5% { transform: scale(0.8); }
    78.0% { transform: scale(0.9); }
    79.5% { transform: scale(0.9); }
    81.0% { transform: scale(2.0); }
    82.5% { transform: scale(1.4); }
    84.0% { transform: scale(1.4); }
    85.5% { transform: scale(1.4); }
    87.0% { transform: scale(1.0); }
    88.5% { transform: scale(2.1); }
    90.0% { transform: scale(1.0); }
    91.5% { transform: scale(1.0); }
    93.0% { transform: scale(1.0); }
    94.5% { transform: scale(1.0); }
    96.0% { transform: scale(2.3); }
    97.5% { transform: scale(1.2); }
    100%  { transform: scale(0.7); }
}

@keyframes falling_star{
    0.0%  { transform: translate( 1px, -1px); }
    49.5% { transform: translate(1600px, 1600px); }
    100.0% { transform: translate(1800px, 1800px); }
}
