.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.picture {
  position: absolute;
  background: #212B35;
  width: 800px;
  height: 600px;
  overflow: hidden; }
  .picture *, .picture *:before, .picture *:after {
    content: '';
    position: absolute; }

.space__monster {
  top: 180px;
  left: 180px;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background: #1C596C;
  animation: spaceMonster 30s linear infinite; }
  .space__monster:after {
    top: 10px;
    left: 5px;
    width: 5px;
    height: 6px;
    border-radius: 50% 30% 40% 50%;
    background: #273449;
    box-shadow: 10px 0 0 0 #273449; }
  .space__monster div:before {
    top: 6px;
    left: 0px;
    width: 14px;
    height: 42px;
    border-radius: 10px;
    background: #1C596C;
    transform-origin: 7px 7px;
    transform: rotate(0deg);
    animation: spaceMonsterLeg 30s linear infinite; }
  .space__monster div:after {
    top: 6px;
    left: 10px;
    width: 14px;
    height: 37px;
    border-radius: 10px;
    background: #1C596C;
    transform-origin: 7px 7px;
    transform: rotate(0deg);
    animation: spaceMonsterLeg 30s linear infinite; }

.space__planet {
  top: 180px;
  left: 60px;
  width: 76px;
  height: 76px;
  box-shadow: 0px 0px 30px 8px #394959;
  border-radius: 100px;
  background: #FF8549;
  animation: spacePlanet 30s linear infinite; }
  .space__planet .upper_shades:before {
    top: -3px;
    left: 3px;
    width: 72px;
    height: 76px;
    border-radius: 100px;
    background: #EC7451;
    clip-path: polygon(19% 13%, 43% 8%, 68% 12%, 82% 15%, 53% 34%, 21% 36%, 0 46%, 3% 24%); }
  .space__planet .upper_shades:after {
    top: 26px;
    left: 0px;
    width: 84px;
    height: 76px;
    border-radius: 100px;
    background: #EC7451;
    clip-path: polygon(51% 3%, 68% 12%, 100% 13%, 83% 19%, 55% 17%, 41% 12%, 22% 16%, 11% 14%, 0 12%, 28% 9%); }
  .space__planet .lower_shades:before {
    top: 30px;
    left: 2px;
    width: 68px;
    height: 76px;
    border-radius: 100px;
    background: #EC7451;
    clip-path: polygon(21% 25%, 48% 18%, 92% 29%, 98% 40%, 76% 56%, 46% 59%, 23% 52%, 0 29%); }

.space__moon {
  top: 80px;
  left: 580px;
  width: 126px;
  height: 126px;
  box-shadow: 0px 0px 30px 8px #d4d4d4;
  border-radius: 100px;
  background: #e3e3e3; }
  .space__moon .crater_1:before {
    top: 48px;
    left: -2px;
    width: 60px;
    height: 63px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_1:after {
    top: 55px;
    left: -1px;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(25% 25% at 49% 44%); }
  .space__moon .crater_2:before {
    top: 66px;
    left: 28px;
    width: 70px;
    height: 56px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_2:after {
    top: 68px;
    left: 28px;
    width: 68px;
    height: 52px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_3:before {
    top: 49px;
    left: 64px;
    width: 84px;
    height: 81px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_3:after {
    top: 56px;
    left: 64px;
    width: 65px;
    height: 59px;
    border-radius: 100px;
    background: #e0e0e0;
    clip-path: ellipse(25% 25% at 49% 44%); }
  .space__moon .crater_4:before {
    top: 30px;
    left: 6px;
    width: 40px;
    height: 36px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_4:after {
    top: 35px;
    left: 8px;
    width: 34px;
    height: 28px;
    border-radius: 100px;
    background: #e0dede;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_5:before {
    top: 18px;
    left: 33px;
    width: 34px;
    height: 30px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_5:after {
    top: 23px;
    left: 35px;
    width: 28px;
    height: 22px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_6:before {
    top: 18px;
    left: 63px;
    width: 24px;
    height: 20px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_6:after {
    top: 19px;
    left: 64px;
    width: 22px;
    height: 20px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_7:before {
    top: 32px;
    left: 116px;
    width: 22px;
    height: 50px;
    border-radius: 100px;
    background: #d1d1d1;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_7:after {
    top: 30px;
    left: 113px;
    width: 22px;
    height: 60px;
    border-radius: 10px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_8:before {
    top: 46px;
    left: -8px;
    width: 22px;
    height: 50px;
    border-radius: 100px;
    background: #d1d1d1;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_8:after {
    top: 44px;
    left: -4px;
    width: 22px;
    height: 60px;
    border-radius: 10px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_9:before {
    top: 48px;
    left: 53px;
    width: 24px;
    height: 20px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_9:after {
    top: 49px;
    left: 53px;
    width: 22px;
    height: 20px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_10:before {
    top: 104px;
    left: 53px;
    width: 34px;
    height: 30px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_10:after {
    top: 105px;
    left: 55px;
    width: 32px;
    height: 30px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_11:before {
    top: 95px;
    left: 21px;
    width: 24px;
    height: 20px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_11:after {
    top: 96px;
    left: 22px;
    width: 22px;
    height: 20px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_11:before {
    top: 38px;
    left: 85px;
    width: 24px;
    height: 20px;
    border-radius: 100px;
    background: #cccccc;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_11:after {
    top: 38px;
    left: 86px;
    width: 22px;
    height: 20px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_12:before {
    top: -9px;
    left: 43px;
    width: 60px;
    height: 24px;
    border-radius: 10px;
    background: #d1d1d1;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_12:after {
    top: -5px;
    left: 40px;
    width: 70px;
    height: 22px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_13:before {
    top: 2px;
    left: 80px;
    width: 60px;
    height: 54px;
    border-radius: 10px;
    background: #d1d1d1;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_13:after {
    top: -4px;
    left: 74px;
    width: 70px;
    height: 86px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_14:before {
    top: 90px;
    left: 8px;
    width: 60px;
    height: 54px;
    border-radius: 10px;
    background: #d1d1d1;
    clip-path: ellipse(20% 20% at 38% 39%); }
  .space__moon .crater_14:after {
    top: 70px;
    left: 0px;
    width: 100px;
    height: 84px;
    border-radius: 100px;
    background: #e3e3e3;
    clip-path: ellipse(20% 20% at 38% 39%); }

.space__star__1 {
  top: 380px;
  left: 260px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746;
  animation: small_star 30s linear infinite; }

.space__star__2 {
  top: 100px;
  left: 360px;
  width: 2px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746;
  animation: falling_star 30s linear infinite; }

.space__star__3 {
  top: 160px;
  left: 260px;
  width: 2px;
  height: 2px;
  box-shadow: 0px 0px 20px 6px #394959;
  border-radius: 100px;
  background: #e3d746;
  animation: large_star 30s linear infinite; }

.space__star__4 {
  top: 480px;
  left: 460px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746;
  animation: small_star 30s linear infinite; }

.space__star__5 {
  top: 530px;
  left: 160px;
  width: 2px;
  height: 2px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__6 {
  top: 140px;
  left: 560px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__7 {
  top: 580px;
  left: 620px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__8 {
  top: 410px;
  left: 550px;
  width: 2px;
  height: 2px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__9 {
  top: 310px;
  left: 360px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__10 {
  top: 280px;
  left: 440px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__11 {
  top: 200px;
  left: 420px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__12 {
  top: 160px;
  left: 260px;
  width: 2px;
  height: 2px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746;
  animation: medium_star 30s linear infinite; }

.space__star__13 {
  top: 80px;
  left: 420px;
  width: 2px;
  height: 2px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__14 {
  top: 80px;
  left: 590px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__15 {
  top: 280px;
  left: 640px;
  width: 2px;
  height: 2px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746;
  animation: medium_star 30s linear infinite; }

.space__star__16 {
  top: 480px;
  left: 660px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746;
  animation: small_star 30s linear infinite; }

.space__star__17 {
  top: 380px;
  left: 260px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__18 {
  top: 480px;
  left: 70px;
  width: 2px;
  height: 2px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__19 {
  top: 370px;
  left: 40px;
  width: 2px;
  height: 2px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

.space__star__20 {
  top: 300px;
  left: 140px;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 10px 2px #394959;
  border-radius: 100px;
  background: #e3d746; }

/* ANIMATION */
@keyframes spaceMonster {
  0.0% {
    transform: translate(-4px, -7px); }
  1.5% {
    transform: translate(-1px, -15px); }
  3.0% {
    transform: translate(1px, -20px); }
  4.5% {
    transform: translate(-3px, -18px); }
  6.0% {
    transform: translate(-7px, -11px); }
  7.5% {
    transform: translate(-2px, -8px); }
  9.0% {
    transform: translate(38px, 34px); }
  10.5% {
    transform: translate(40px, 34px); }
  12.0% {
    transform: translate(32px, 29px); }
  13.5% {
    transform: translate(26px, 20px); }
  15.0% {
    transform: translate(20px, 8px); }
  16.5% {
    transform: translate(6px, -5px); }
  18.0% {
    transform: translate(0px, -14px); }
  19.5% {
    transform: translate(-1px, -19px); }
  21.0% {
    transform: translate(-4px, -20px); }
  22.6% {
    transform: translate(-6px, -19px); }
  24.0% {
    transform: translate(-2px, -15px); }
  25.5% {
    transform: translate(1px, -9px); }
  27.0% {
    transform: translate(-1px, -5px); }
  28.5% {
    transform: translate(-4px, -3px); }
  30.0% {
    transform: translate(-1px, -3px); }
  31.5% {
    transform: translate(1px, -8px); }
  33.0% {
    transform: translate(-6px, -14px); }
  34.5% {
    transform: translate(-5px, -18px); }
  36.0% {
    transform: translate(-1px, -18px); }
  37.5% {
    transform: translate(-2px, -13px); }
  39.0% {
    transform: translate(-5px, -5px); }
  40.5% {
    transform: translate(-4px, 2px); }
  42.0% {
    transform: translate(0px, 5px); }
  43.5% {
    transform: translate(0px, 3px); }
  45.0% {
    transform: translate(-4px, -1px); }
  46.5% {
    transform: translate(-2px, -5px); }
  48.0% {
    transform: translate(15px, -3px); }
  49.5% {
    transform: translate(56px, -1px); }
  51.0% {
    transform: translate(50px, 0px); }
  52.5% {
    transform: translate(41px, -2px); }
  54.0% {
    transform: translate(34px, -3px); }
  55.5% {
    transform: translate(32px, -3px); }
  57.0% {
    transform: translate(27px, -4px); }
  58.5% {
    transform: translate(12px, -6px); }
  60.0% {
    transform: translate(1px, -7px); }
  61.5% {
    transform: translate(3px, -7px); }
  63.0% {
    transform: translate(5px, -8px); }
  64.5% {
    transform: translate(0px, -9px); }
  66.0% {
    transform: translate(-1px, -10px); }
  67.5% {
    transform: translate(2px, -10px); }
  69.0% {
    transform: translate(3px, -9px); }
  70.5% {
    transform: translate(-1px, -3px); }
  72.0% {
    transform: translate(-1px, 2px); }
  73.5% {
    transform: translate(3px, 3px); }
  75.0% {
    transform: translate(2px, 0px); }
  76.5% {
    transform: translate(-2px, -3px); }
  78.0% {
    transform: translate(31px, 13px); }
  79.5% {
    transform: translate(52px, 27px); }
  81.0% {
    transform: translate(54px, 22px); }
  82.5% {
    transform: translate(42px, 17px); }
  84.0% {
    transform: translate(33px, 9px); }
  85.5% {
    transform: translate(25px, 2px); }
  87.0% {
    transform: translate(9px, -6px); }
  88.5% {
    transform: translate(0px, -10px); }
  90.0% {
    transform: translate(1px, -15px); }
  91.5% {
    transform: translate(-2px, -15px); }
  93.0% {
    transform: translate(-5px, -11px); }
  94.5% {
    transform: translate(-3px, -5px); }
  96.0% {
    transform: translate(0px, -1px); }
  97.5% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes spaceMonsterLeg {
  0.0% {
    transform: rotate(-5deg); }
  1.5% {
    transform: rotate(7deg); }
  3.0% {
    transform: rotate(1deg); }
  4.5% {
    transform: rotate(-6deg); }
  6.0% {
    transform: rotate(-6deg); }
  7.5% {
    transform: rotate(7deg); }
  9.0% {
    transform: rotate(15deg); }
  10.5% {
    transform: rotate(-3deg); }
  12.0% {
    transform: rotate(-13deg); }
  13.5% {
    transform: rotate(2deg); }
  15.0% {
    transform: rotate(6deg); }
  16.5% {
    transform: rotate(-9deg); }
  18.0% {
    transform: rotate(1deg); }
  19.5% {
    transform: rotate(5deg); }
  21.0% {
    transform: rotate(-7deg); }
  22.6% {
    transform: rotate(-3deg); }
  24.0% {
    transform: rotate(8deg); }
  25.5% {
    transform: rotate(5deg); }
  27.0% {
    transform: rotate(-3deg); }
  28.5% {
    transform: rotate(-8deg); }
  30.0% {
    transform: rotate(7deg); }
  31.5% {
    transform: rotate(3deg); }
  33.0% {
    transform: rotate(-8deg); }
  34.5% {
    transform: rotate(3deg); }
  36.0% {
    transform: rotate(9deg); }
  37.5% {
    transform: rotate(-2deg); }
  39.0% {
    transform: rotate(-11deg); }
  40.5% {
    transform: rotate(0deg); }
  42.0% {
    transform: rotate(9deg); }
  43.5% {
    transform: rotate(0deg); }
  45.0% {
    transform: rotate(-10deg); }
  46.5% {
    transform: rotate(4deg); }
  48.0% {
    transform: rotate(10deg); }
  49.5% {
    transform: rotate(-5deg); }
  51.0% {
    transform: rotate(-8deg); }
  52.5% {
    transform: rotate(7deg); }
  54.0% {
    transform: rotate(-10deg); }
  55.5% {
    transform: rotate(3deg); }
  57.0% {
    transform: rotate(8deg); }
  58.5% {
    transform: rotate(-6deg); }
  60.0% {
    transform: rotate(-7deg); }
  61.5% {
    transform: rotate(8deg); }
  63.0% {
    transform: rotate(4deg); }
  64.5% {
    transform: rotate(-7deg); }
  66.0% {
    transform: rotate(2deg); }
  67.5% {
    transform: rotate(9deg); }
  69.0% {
    transform: rotate(0deg); }
  70.5% {
    transform: rotate(-9deg); }
  72.0% {
    transform: rotate(1deg); }
  73.5% {
    transform: rotate(9deg); }
  75.0% {
    transform: rotate(-3deg); }
  76.5% {
    transform: rotate(-8deg); }
  78.0% {
    transform: rotate(-2deg); }
  79.5% {
    transform: rotate(2deg); }
  81.0% {
    transform: rotate(5deg); }
  82.5% {
    transform: rotate(-12deg); }
  84.0% {
    transform: rotate(4deg); }
  85.5% {
    transform: rotate(9deg); }
  87.0% {
    transform: rotate(-7deg); }
  88.5% {
    transform: rotate(0deg); }
  90.0% {
    transform: rotate(11deg); }
  91.5% {
    transform: rotate(-2deg); }
  93.0% {
    transform: rotate(-10deg); }
  94.5% {
    transform: rotate(4deg); }
  96.0% {
    transform: rotate(9deg); }
  97.5% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes spacePlanet {
  0.0% {
    transform: translate(1px, -6px); }
  1.5% {
    transform: translate(1px, -6px); }
  3.0% {
    transform: translate(1px, -6px); }
  4.5% {
    transform: translate(-1px, -4px); }
  6.0% {
    transform: translate(-7px, -5px); }
  7.5% {
    transform: translate(-2px, -6px); }
  9.0% {
    transform: translate(3px, 3px); }
  10.5% {
    transform: translate(-4px, 4px); }
  12.0% {
    transform: translate(2px, 2px); }
  13.5% {
    transform: translate(2px, 2px); }
  15.0% {
    transform: translate(2px, 4px); }
  16.5% {
    transform: translate(6px, -5px); }
  18.0% {
    transform: translate(3px, -4px); }
  19.5% {
    transform: translate(-1px, 1px); }
  21.0% {
    transform: translate(-4px, -2px); }
  22.6% {
    transform: translate(-5px, -5px); }
  24.0% {
    transform: translate(-2px, -3px); }
  25.5% {
    transform: translate(1px, -2px); }
  27.0% {
    transform: translate(-1px, -4px); }
  28.5% {
    transform: translate(-3px, -3px); }
  30.0% {
    transform: translate(-1px, -3px); }
  31.5% {
    transform: translate(1px, 0px); }
  33.0% {
    transform: translate(-2px, 1px); }
  34.5% {
    transform: translate(-5px, 3px); }
  36.0% {
    transform: translate(-2px, -4px); }
  37.5% {
    transform: translate(-2px, -5px); }
  39.0% {
    transform: translate(-5px, -5px); }
  40.5% {
    transform: translate(-4px, -5px); }
  42.0% {
    transform: translate(0px, -4px); }
  43.5% {
    transform: translate(0px, 3px); }
  45.0% {
    transform: translate(-2px, -1px); }
  46.5% {
    transform: translate(-2px, -3px); }
  48.0% {
    transform: translate(1px, -3px); }
  49.5% {
    transform: translate(2px, -1px); }
  51.0% {
    transform: translate(0px, 0px); }
  52.5% {
    transform: translate(1px, -2px); }
  54.0% {
    transform: translate(3px, -3px); }
  55.5% {
    transform: translate(2px, -3px); }
  57.0% {
    transform: translate(2px, -4px); }
  58.5% {
    transform: translate(1px, -3px); }
  60.0% {
    transform: translate(1px, -3px); }
  61.5% {
    transform: translate(1px, -3px); }
  63.0% {
    transform: translate(2px, -2px); }
  64.5% {
    transform: translate(0px, 0px); }
  66.0% {
    transform: translate(-1px, -1px); }
  67.5% {
    transform: translate(2px, -1px); }
  69.0% {
    transform: translate(3px, 0px); }
  70.5% {
    transform: translate(3px, -2px); }
  72.0% {
    transform: translate(0px, 0px); }
  73.5% {
    transform: translate(2px, 3px); }
  75.0% {
    transform: translate(2px, 0px); }
  76.5% {
    transform: translate(2px, 3px); }
  78.0% {
    transform: translate(1px, 1px); }
  79.5% {
    transform: translate(2px, 2px); }
  81.0% {
    transform: translate(4px, 2px); }
  82.5% {
    transform: translate(2px, 1px); }
  84.0% {
    transform: translate(3px, 3px); }
  85.5% {
    transform: translate(2px, 2px); }
  87.0% {
    transform: translate(0px, -1px); }
  88.5% {
    transform: translate(0px, 0px); }
  90.0% {
    transform: translate(1px, -1px); }
  91.5% {
    transform: translate(-2px, -1px); }
  93.0% {
    transform: translate(-3px, -1px); }
  94.5% {
    transform: translate(1px, -1px); }
  96.0% {
    transform: translate(6px, -5px); }
  97.5% {
    transform: translate(3px, -6px); }
  100% {
    transform: translate(1px, -6px); } }

@keyframes small_star {
  0.0% {
    transform: scale(1.5); }
  1.5% {
    transform: scale(1); }
  3.0% {
    transform: scale(1.8); }
  4.5% {
    transform: scale(0.2); }
  6.0% {
    transform: scale(0.8); }
  7.5% {
    transform: scale(2.2); }
  9.0% {
    transform: scale(0.8); }
  10.5% {
    transform: scale(0.8); }
  12.0% {
    transform: scale(0.6); }
  13.5% {
    transform: scale(0.5); }
  15.0% {
    transform: scale(0.9); }
  16.5% {
    transform: scale(0.8); }
  18.0% {
    transform: scale(2); }
  19.5% {
    transform: scale(0.8); }
  21.0% {
    transform: scale(0.8); }
  22.6% {
    transform: scale(1.1); }
  24.0% {
    transform: scale(2); }
  25.5% {
    transform: scale(0.8); }
  27.0% {
    transform: scale(0.8); }
  28.5% {
    transform: scale(0.8); }
  30.0% {
    transform: scale(0.9); }
  31.5% {
    transform: scale(1); }
  33.0% {
    transform: scale(0.8); }
  34.5% {
    transform: scale(0.8); }
  36.0% {
    transform: scale(0.8); }
  37.5% {
    transform: scale(1.2); }
  39.0% {
    transform: scale(1.4); }
  40.5% {
    transform: scale(1); }
  42.0% {
    transform: scale(0.8); }
  43.5% {
    transform: scale(0.8); }
  45.0% {
    transform: scale(0.8); }
  46.5% {
    transform: scale(0.8); }
  48.0% {
    transform: scale(0.8); }
  49.5% {
    transform: scale(0.8); }
  51.0% {
    transform: tscale(0.8); }
  52.5% {
    transform: scale(0.8); }
  54.0% {
    transform: scale(0.8); }
  55.5% {
    transform: scale(0.9); }
  57.0% {
    transform: scale(0.8); }
  58.5% {
    transform: scale(0.8); }
  60.0% {
    transform: scale(2); }
  61.5% {
    transform: scale(0.8); }
  63.0% {
    transform: scale(0.8); }
  64.5% {
    transform: scale(0.8); }
  66.0% {
    transform: scale(0.8); }
  67.5% {
    transform: scale(0.8); }
  69.0% {
    transform: scale(0.8); }
  70.5% {
    transform: scale(0.8); }
  72.0% {
    transform: scale(0.8); }
  73.5% {
    transform: scale(0.8); }
  75.0% {
    transform: scale(2.2); }
  76.5% {
    transform: scale(0.8); }
  78.0% {
    transform: scale(0.8); }
  79.5% {
    transform: scale(1.4); }
  81.0% {
    transform: scale(0.8); }
  82.5% {
    transform: scale(0.8); }
  84.0% {
    transform: scale(0.8); }
  85.5% {
    transform: scale(1.8); }
  87.0% {
    transform: scale(0.8); }
  88.5% {
    transform: scale(0.8); }
  90.0% {
    transform: scale(0.8); }
  91.5% {
    transform: scale(0.6); }
  93.0% {
    transform: scale(0.8); }
  94.5% {
    transform: scale(0.8); }
  96.0% {
    transform: scale(0.8); }
  97.5% {
    transform: scale(1.8); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes medium_star {
  0.0% {
    transform: scale(1); }
  1.5% {
    transform: scale(0.5); }
  3.0% {
    transform: scale(1); }
  4.5% {
    transform: scale(0.2); }
  6.0% {
    transform: scale(0.4); }
  7.5% {
    transform: scale(1.2); }
  9.0% {
    transform: scale(0.2); }
  10.5% {
    transform: scale(0.2); }
  12.0% {
    transform: scale(0.2); }
  13.5% {
    transform: scale(0.2); }
  15.0% {
    transform: scale(0); }
  16.5% {
    transform: scale(0); }
  18.0% {
    transform: scale(2); }
  19.5% {
    transform: scale(0.2); }
  21.0% {
    transform: scale(0.2); }
  22.6% {
    transform: scale(1.2); }
  24.0% {
    transform: scale(2.2); }
  25.5% {
    transform: scale(0.6); }
  27.0% {
    transform: scale(0.6); }
  28.5% {
    transform: scale(0.6); }
  30.0% {
    transform: scale(0.9); }
  31.5% {
    transform: scale(1); }
  33.0% {
    transform: scale(0.2); }
  34.5% {
    transform: scale(0.2); }
  36.0% {
    transform: scale(0.2); }
  37.5% {
    transform: scale(1); }
  39.0% {
    transform: scale(0.4); }
  40.5% {
    transform: scale(1.1); }
  42.0% {
    transform: scale(0.3); }
  43.5% {
    transform: scale(0.3); }
  45.0% {
    transform: scale(0.5); }
  46.5% {
    transform: scale(0.3); }
  48.0% {
    transform: scale(0.3); }
  49.5% {
    transform: scale(1.8); }
  51.0% {
    transform: tscale(2.8); }
  52.5% {
    transform: scale(0.9); }
  54.0% {
    transform: scale(0.9); }
  55.5% {
    transform: scale(0.7); }
  57.0% {
    transform: scale(0.7); }
  58.5% {
    transform: scale(0.7); }
  60.0% {
    transform: scale(2.2); }
  61.5% {
    transform: scale(0.6); }
  63.0% {
    transform: scale(0.5); }
  64.5% {
    transform: scale(0.4); }
  66.0% {
    transform: scale(0.4); }
  67.5% {
    transform: scale(0.4); }
  69.0% {
    transform: scale(0.4); }
  70.5% {
    transform: scale(0.7); }
  72.0% {
    transform: scale(0.8); }
  73.5% {
    transform: scale(0.8); }
  75.0% {
    transform: scale(0.5); }
  76.5% {
    transform: scale(0.7); }
  78.0% {
    transform: scale(1.2); }
  79.5% {
    transform: scale(1); }
  81.0% {
    transform: scale(1); }
  82.5% {
    transform: scale(0.6); }
  84.0% {
    transform: scale(2.2); }
  85.5% {
    transform: scale(2); }
  87.0% {
    transform: scale(0.9); }
  88.5% {
    transform: scale(0.9); }
  90.0% {
    transform: scale(0.9); }
  91.5% {
    transform: scale(0.9); }
  93.0% {
    transform: scale(0.7); }
  94.5% {
    transform: scale(0.6); }
  96.0% {
    transform: scale(1.6); }
  97.5% {
    transform: scale(1.8); }
  100% {
    transform: scale(0.7); } }

@keyframes large_star {
  0.0% {
    transform: scale(1.2); }
  1.5% {
    transform: scale(1.4); }
  3.0% {
    transform: scale(1.8); }
  4.5% {
    transform: scale(0.9); }
  6.0% {
    transform: scale(2); }
  7.5% {
    transform: scale(1.2); }
  9.0% {
    transform: scale(1.2); }
  10.5% {
    transform: scale(1.5); }
  12.0% {
    transform: scale(0.8); }
  13.5% {
    transform: scale(1.2); }
  15.0% {
    transform: scale(1); }
  16.5% {
    transform: scale(1); }
  18.0% {
    transform: scale(2.1); }
  19.5% {
    transform: scale(2); }
  21.0% {
    transform: scale(0.6); }
  22.6% {
    transform: scale(1.8); }
  24.0% {
    transform: scale(2.1); }
  25.5% {
    transform: scale(1.6); }
  27.0% {
    transform: scale(1.1); }
  28.5% {
    transform: scale(1.3); }
  30.0% {
    transform: scale(1.9); }
  31.5% {
    transform: scale(0.7); }
  33.0% {
    transform: scale(0.9); }
  34.5% {
    transform: scale(0.9); }
  36.0% {
    transform: scale(0.9); }
  37.5% {
    transform: scale(1.9); }
  39.0% {
    transform: scale(0.4); }
  40.5% {
    transform: scale(2.1); }
  42.0% {
    transform: scale(0.8); }
  43.5% {
    transform: scale(0.9); }
  45.0% {
    transform: scale(0.5); }
  46.5% {
    transform: scale(0.7); }
  48.0% {
    transform: scale(0.9); }
  49.5% {
    transform: scale(0.9); }
  51.0% {
    transform: scale(0.8); }
  52.5% {
    transform: scale(1.5); }
  54.0% {
    transform: scale(2.1); }
  55.5% {
    transform: scale(2.1); }
  57.0% {
    transform: scale(2.1); }
  58.5% {
    transform: scale(2.1); }
  60.0% {
    transform: scale(2.2); }
  61.5% {
    transform: scale(1.5); }
  63.0% {
    transform: scale(1.3); }
  64.5% {
    transform: scale(1.4); }
  66.0% {
    transform: scale(1); }
  67.5% {
    transform: scale(1.4); }
  69.0% {
    transform: scale(1.4); }
  70.5% {
    transform: scale(1); }
  72.0% {
    transform: scale(0.8); }
  73.5% {
    transform: scale(1.8); }
  75.0% {
    transform: scale(0.8); }
  76.5% {
    transform: scale(0.8); }
  78.0% {
    transform: scale(0.9); }
  79.5% {
    transform: scale(0.9); }
  81.0% {
    transform: scale(2); }
  82.5% {
    transform: scale(1.4); }
  84.0% {
    transform: scale(1.4); }
  85.5% {
    transform: scale(1.4); }
  87.0% {
    transform: scale(1); }
  88.5% {
    transform: scale(2.1); }
  90.0% {
    transform: scale(1); }
  91.5% {
    transform: scale(1); }
  93.0% {
    transform: scale(1); }
  94.5% {
    transform: scale(1); }
  96.0% {
    transform: scale(2.3); }
  97.5% {
    transform: scale(1.2); }
  100% {
    transform: scale(0.7); } }

@keyframes falling_star {
  0.0% {
    transform: translate(1px, -1px); }
  49.5% {
    transform: translate(1600px, 1600px); }
  100.0% {
    transform: translate(1800px, 1800px); } }
